<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Đăng nhập</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.css') }}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

</head>
<body>
    <div class="container p-3 mb-2 bg-success text-white">
        <h3 class="display-1" style="text-align: center">Đăng nhập</h3>
    </div>
    <div class="container">
        <br>
        <form action="{{ url_for('process_home_login') }}" method="post">
            <br>
            <div class="form-row">

                <div class="form-group col-md-6">
                    {% if error_code == 1 %}
                        <div class="alert alert-primary" role="alert">
                            Tài Khoản hoặc Mật khẩu Không đúng!
                        </div>
                    {% elif error_code == -1 %}
                        {{ pass }}
                    {% endif %}

                    <label for="inputEmail4">Tài Khoản</label>
                    <input name="user_name" type="text" class="form-control" id="inputEmail4" placeholder="Username"required>
                </div>
                <br>
                <div class="form-group col-md-6">
                    <label for="inputPassword4">Mật Khẩu</label>
                    <input name="user_password" type="password" class="form-control" id="inputPassword4" placeholder="Password" required maxlength="20" minlength="8">
                </div>
            </div>
            <br>
            <div class="form-group form-check">
                <label class="form-check-label"><input class="form-check-input" type="checkbox" name="radio_remember">Nhớ lần Đăng nhập này</label>
            </div>
            <br>
            <button type="submit" class="btn btn-primary">Đăng Nhập</button>
        </form>
    </div>
</body>
</html>