<!DOCTYPE html>
<html lang="en">
<head>
{#    <link rel="icon" href="{{ url_for('icon', filename= 'volang.png') }} ">#}
    <link rel="shortcut icon" href="{{ url_for('static', filename='icon/volang.png') }}">
{#    <link rel="shortcut icon" href="../icon/volang.png">#}
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.css') }}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Google Font: Source Sans Pro -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
    <link rel="stylesheet" href="{{ url_for('static', filename='plugins/fontawesome-free/css/all.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='dist/css/adminlte.css') }}">
    <!-- DataTables -->
    <link rel="stylesheet" href="{{ url_for('static', filename='plugins/datatables-bs4/css/dataTables.bootstrap4.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='plugins/datatables-responsive/css/responsive.bootstrap4.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='plugins/datatables-buttons/css/buttons.bootstrap4.min.css') }}">
    <title>Chi tiết xe</title>


</head>
<body>
    <section class="container">
        <div class="container-fluid">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">Chi tiết xe :{{ data[0]['Mã xe'] }} - {{ data[0]['Tên xe'] }}</h3>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body">
                        <table id="example1" class="table table-bordered table-striped">
                            <thead>
                                {% for row in data_name %}
                                    <div class="form-group">
                                        <input name="" type="text" class="form-control" id="floatingInput" placeholder="Mã xe" required>
                                    </div>
                                <tr>
                                    <th>{{ row }}</th>
                                    <td>{{ data[0][row] }}</td>
                                </tr>
                                {% endfor %}
                            </thead>
                        </table>
                    </div>
              <!-- /.card-body -->
                </div>
            </div>
        </div>
    </section>
</body>
</html>