<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Xem sản phẩm Admin</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.css') }}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

</head>
<body>
    <div class="container">
        <form>
            <br>
            <div class="form-group">
                <label for="formGroupExampleInput">ID Xe : {{ 1 }}</label>
                <input name="product_id" type="hidden">
            </div>
            <br>

            <div class="form-group">
                <input name="" type="text" class="form-control" id="floatingInput" placeholder="Mã xe" required>
            </div>
            <br>

            <div class="form-group">
                <textarea name="" rows="4" cols="50" class="form-control" id="floatingInput" placeholder="Mô tả" required></textarea>
            </div>
            <br>

            <div class="form-group">
                <input name="" type="text" class="form-control" id="floatingInput" placeholder="Tên Xe" required>
            </div>
            <br>

            <div class="form-group">
                <input name="" type="text" class="form-control" id="floatingInput" placeholder="Mẫu Xe" required>
            </div>
            <br>

            <div class="form-group">
                <input name="" type="text" class="form-control" id="floatingInput" placeholder="Hãng Xe" disabled>
            </div>
            <br>

            <div class="form-group">
                <input name="" type="text" class="form-control" id="floatingInput" placeholder="Loại Xe" disabled>
            </div>
            <br>


            <div class="form-group">
                <input name="" type="text" class="form-control" id="floatingInput" placeholder="Xuất xứ" required>
            </div>
            <br>

            <div class="form-group">
                <input name="" type="text" class="form-control" id="floatingInput" placeholder="Năm phát hành (đời xe)" required>
            </div>
            <br>

            <div class="form-group">
                <input name="" type="text" class="form-control" id="floatingInput" placeholder="Năm đăng ký xe" required>
            </div>
            <br>

            <div class="form-group">
                <input name="" type="text" class="form-control" id="floatingInput" placeholder="Chỗ ngồi" required>
            </div>
            <br>

            <div class="form-group">
                <input name="" type="text" class="form-control" id="floatingInput" placeholder="Nhiên liệu" required>
            </div>
            <br>

            <div class="form-group">
                <input name="" type="text" class="form-control" id="floatingInput" placeholder="Màu" required>
            </div>
            <br>

            <div class="form-group">
                <input name="" type="text" class="form-control" id="floatingInput" placeholder="ODO" required>
            </div>
            <br>

            <div class="form-group">
                <input name="" type="text" class="form-control" id="floatingInput" placeholder="Động Cơ" required>
            </div>
            <br>

            <div class="form-group">
                <input name="" type="text" class="form-control" id="floatingInput" placeholder="Ngày mua" required>
            </div>
            <br>

            <div class="form-group">
                <input name="" type="text" class="form-control" id="floatingInput" placeholder="Ngày bán" required>
            </div>
            <br>


            <div class="form-group">
                <input name="" type="text" class="form-control" id="floatingInput" placeholder="1 Giá Thu" required>
            </div>
            <br>

            <div class="form-group">
                <input name="" type="text" class="form-control" id="floatingInput" placeholder="2 Chi Phí Thu" required>
            </div>
            <br>

            <div class="form-group">
                <input name="" type="text" class="form-control" id="floatingInput" placeholder="3 Giá Bán" required>
            </div>
            <br>

            <div class="form-group">
                <input name="" type="text" class="form-control" id="floatingInput" placeholder="4 Chi Phí Bán" required>
            </div>
            <br>

            <div class="form-group">
                <input name="" type="text" class="form-control" id="floatingInput" placeholder="5 Giá Bán Thực Tế" required>
            </div>
            <br>

            <div class="form-group">
                <input name="" type="text" class="form-control" id="floatingInput" placeholder="6 Lãi" required>
            </div>
            <br>

            <div class="form-group">
                <input name="" type="text" class="form-control" id="floatingInput" placeholder="Trạng thái xe" required>
            </div>
            <br>

</form>


    </div>
</body>
</html>